.celsius {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1011;

	align-items: center;
	justify-content: center;

	background: $color-black-06;

	opacity: 0.65;
	color: $color-white;

	&-cold {

	}

	&-warm {

	}

	&__Temp {
		font: {
			size: 3em;
		}
	}
}